<div class="fd-cal-head clearfix">
  <div class="font-nice-blue" ng-repeat="weekDay in vm.templateScope.weekDays track by $index">{{weekDay}}</div>
</div>

<div class="fd-cal-month-box">
  <div ng-repeat="rowOffset in vm.monthOffsets track by rowOffset">
    <div class="clearfix cal-before-eventlist">
      <div ng-repeat="day in vm.view | calendarLimitTo:7:rowOffset track by $index"
        ng-init="dayIndex = vm.view.indexOf(day)"
        class="cal-cell fd-cal-cell {{ day.highlightClass }}"
        ng-style="{backgroundColor: day.backgroundColor}"
        ng-click="vm.dayClicked(day, false, $event)"
        ng-class="{pointer: day.events.length > 0}">
        <ng-include src="vm.customTemplateUrls.calendarMonthCell || vm.calendarConfig.templates.calendarMonthCell"></ng-include>
      </div>
    </div>
  </div>
</div>
