<ion-view view-title="{{'SETTINGS' | translate}}">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content class="fd-settings has-footer">
    <!-- ion-settings></ion-settings-->
    <ion-list>
      <!-- <ion-item ng-click="vm.goto('settings-device')">
        <i class="icon positive col-10 ion-iphone"></i>
        <div class="col-80">{{'MY_DEVICES' | translate}}</div>
        <i class="icon positive col-10 icon-accessory ion-chevron-right"></i>
      </ion-item> -->
      <ion-item ng-click="vm.goto('settings-datatransfer')">
        <i class="icon positive col-10 ion-android-sync"></i>
        <div class="col-60">{{'DATA_TRANSFER' | translate}}</div>
        <div class="col-20">{{vm.datatransferDisplay | translate}}</div>
        <i class="icon positive col-10 icon-accessory ion-chevron-right"></i>
      </ion-item>
      <!-- <ion-item>
        <i class="icon positive col-10 ion-android-notifications-none"></i>
        <div class="ionic-settings-left ng-binding col-60">{{'NOTIFICATION' | translate}}</div>
        <div class="col-20"></div>
        <label class="toggle toggle-assertive col-10">
          <input type="checkbox" value="{{vm.datatransfer}}">
          <div class="track"><div class="handle"></div></div>
       </label>
      </ion-item> -->
      <ion-item ng-click="vm.goto('settings-contact')">
        <i class="icon positive col-10 ion-ios-telephone-outline"></i>
        <div class="col-40">{{'CONTACT' | translate}}</div>
        <div class="col-40"></div>
        <i class="icon positive col-10 icon-accessory ion-chevron-right"></i>
      </ion-item>
      <ion-item ng-click="vm.goto('settings-feedback')">
        <i class="icon positive col-10 ion-help"></i>
        <div class="col-60">{{'HELP' | translate}}</div>
        <div class="col-20"></div>
        <i class="icon positive col-10 icon-accessory ion-chevron-right"></i>
      </ion-item>
      <ion-item ng-click="vm.goto('settings-about')">
        <i class="icon positive col-10 ion-information"></i>
        <div class="col-60">{{'ABOUT' | translate}}</div>
        <div class="col-20"></div>
        <i class="icon positive col-10 icon-accessory ion-chevron-right"></i>
      </ion-item>
      <ion-item ng-click="vm.goto('settings-update')">
        <i class="icon positive col-10 ion-more"></i>
        <div class="col-40">{{'UPDATE' | translate}}</div>
        <div class="col-40">{{vm.version}}</div>
        <i class="icon positive col-10 icon-accessory ion-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>