<ion-view view-title="{{'CONFIG_GENDER' | translate}}">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content class="configure-gender">
    <div class="card">
      <div class="item" ng-click="vm.gotoProfile('MALE')">
        <div class="col-10">{{'MALE' | translate}}</div>
        <div class="col-10">
          <i class="icon positive ion-checkmark-circled" ng-show="vm.user.gender == 'MALE'"></i>
        </div>
      </div>
      <div class="item" ng-click="vm.gotoProfile('FEMALE')">
        <div class="col-10">{{'FEMALE' | translate}}</div>
        <div class="col-10">
          <i class="icon positive ion-checkmark-circled" ng-show="vm.user.gender == 'FEMALE'"></i>
        </div>
      </div>
      <div class="item" ng-click="vm.gotoProfile('')">
        <div class="col-10">{{'UNKNOW' | translate}}</div>
        <div class="col-10 ">
          <i class="icon positive ion-checkmark-circled" ng-show="vm.user.gender != 'FEMALE' && vm.user.gender != 'MALE'"></i>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>