<ion-modal-view>
  <ion-header-bar class="header-fd">
    <button class="button button-icon icon ion-ios-close-empty font-white" ng-click="vm.closeObservationModal()"></button>
    <div class="title">{{'MEASUREMENT_ADD_FBG' | translate}}</div>
  </ion-header-bar>

  <ion-content class="measurement-modal">
    <form novalidate name="fbgForm" ng-submit="vm.addObservation('FASTING_BLOOD_GLUCOSE_CODE')">

      <div class="fd-input">
        <div class="label font-dark-slate-blue">{{'MEASUREMENT_CHART_TITLE_FBG' | translate}}</div>
        <div class="input">
          <input required  class="border-nice-blue" type="number" step="0.01" name="fbg" ng-model="vm.observationModel.value"></input>
          <span class="input-hint">{{'BLOOD_GLUCOSE_UNIT' | translate}}</span>
        </div>
      </div>

      <div class="fd-input">
        <div class="label font-dark-slate-blue">{{'MEASUREMENT_INPUT_DATE' | translate}}</div>
       <!--  <fd-picker name="datePicker" ng-model='vm.dateTimePicker.date' mode="date" max-date="{{vm.dateTimePicker.maxDate}}" min-date="{{vm.dateTimePicker.minDate}}"/> -->
        <fd-picker is-required="true" name="datePicker"
          mode="date" ng-model="vm.dateTimePicker.date" filter="yyyy-MM-dd"
          range-min="vm.dateTimePicker.minDate" range-max="vm.dateTimePicker.maxDate">
      </div>

      <div class="fd-input">
        <div class="label font-dark-slate-blue">{{'MEASUREMENT_INPUT_TIME' | translate}}</div>
        <!-- <fd-picker name="timePicker" ng-model='vm.dateTimePicker.time' mode='time' /> -->
         <fd-picker name="timePicker" mode="time"
          ng-model="vm.dateTimePicker.date" filter="HH:mm:ss">
      </div>

      <div class="fd-button">
        <button type="submit" class="font-white bg-gradient" ng-disabled="!vm.validator">{{'MEASUREMENT_FBG_CONFIRM' | translate}}</button>
      </div>
    </form>
  </ion-content>

</ion-modal-view>