<ion-modal-view>
  <ion-header-bar class="header-fd">
    <button class="button button-icon icon ion-ios-close-empty font-white" ng-click="vm.stopScanBleDevices()"></button>
    <div class="title">{{'MEASUREMENT_ADD_BLE' | translate}}</div>
  </ion-header-bar>

  <ion-content class="measurement-modal-ble">
    <form name="weightForm">
      <div class="card-splitor"></div>
      <div class="scan-results" ng-show="vm.bleData.length > 0">
        <div class="title">{{'READ_DATA' | translate}}</div>
        <span class="metrics-title">{{'TITLE_SYSTOLIC' | translate}}</span>
        <span class="metrics">{{vm.observationModel.dyastolicBloodPressure}}</span><span>mmhg</span>
        <br />
        <span class="metrics-title">{{'TITLE_DYSTOLIC' | translate}}</span>
        <span class="metrics">{{vm.observationModel.systolicBloodPressure}}</span>
        <span>mmhg</span>
        <br />
        <span class="metrics-title">{{'TITLE_HEART_RATE' | translate}}</span>
        <span class="metrics">{{vm.observationModel.heartRate}}</span>
        <br />
        <span class="metrics-title">{{'TITLE_MEASURE_TIME' | translate}}</span>
        <span class="metrics measure-time">{{ vm.dateTimePicker.date | date : 'yyyy-MM-dd hh:mm:ss'}}</span>
      </div>
      <!-- <div class="card" ng-show="vm.bleData.length > 0">
        <div class="item item-divider" style="background:#1474a4!important;color:#fff">
          <span>Recieved data(recently three):</span>
        </div>
        <div class="item" ng-repeat="data in vm.bleData" style="position:relative">
          <div class="checkbox" style="position: absolute; top: 1px; right: 1px;">
            <label>
              <input type="checkbox" ng-model="data.selected"/>
            </label>
          </div>
          <div ng-click="data.selected = !data.selected">
            <i class="font-large col-10 icon icon-fd-bloodpressure" style="float: left;margin-right: 20px;"></i>
            <h2>
              Blood Pressure: {{data.high}}/{{data.low}}<br />
              Heart Pulse: {{data.m}}<br />
              <span style="font-size:13px;color:grey;float:right;">{{data.date}}</span>
            </h2>
          </div>
        </div>
      </div> -->
      <div class="ble-scanning" ng-show="vm.bleScanning">
        <div class="spinner">
          <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
          <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
          <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
        </div>
        <div class="log-msg" ng-show="vm.btnShowDetailMsg > 5">
          <div ng-repeat="msg in vm.btnBleDetailMsg">
            {{msg}}
          </div>
        </div>
      </div>
      <div class="ble-failed" ng-show="vm.bleScanFailed">
        <img ng-show="!card.img" src="assets/images/sad-face.png" ng-click="vm.btnShowDetailMsgClick()" width="50%" height="50%"/>
        <div>{{vm.btnErrorMsgTxt}}</div>
        <div class="log-msg" ng-show="vm.btnShowDetailMsg > 5">
          <div ng-repeat="msg in vm.btnBleDetailMsg">
            {{msg}}
          </div>
        </div>
      </div>
      <div class="fd-button ble-button-group">
        <button ng-show="vm.bleData.length > 0" ng-click="vm.addObservation('MEASUREMENT_BLUETOOTH_CODE')" class="font-white bg-gradient">{{'MEASUREMENT_PBG_CONFIRM' | translate}}</button><br /><br />
        <button ng-click="vm.scanAndReadBleDevices()" ng-show="!vm.bleScanning" class="font-white bg-gradient lighter">{{'REDO_SCAN' | translate}}</button>
        <button ng-click="vm.stopScanBleDevices()" ng-show="vm.bleScanning" class="font-white bg-gradient">{{'STOP_SCAN' | translate}}</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>