.icon-back {
	color: #fff;
}
.icon-back:hover {
	color: #fff;
}

.nutrition-tabs {
	.tab-nav {
		.tab-item {
			-webkit-box-flex: 0.5;
			-webkit-flex: 0.5;
			-moz-box-flex: 0.5;
			-moz-flex: 0.5;
			-ms-flex: 0.5;
			overflow: visible;
		}
		a:last-child {
			margin-right: 4px;
		}
	}
	
}

//nutrition content
.nutrition-content, .dailyDish {
	background: #ffffff;
	margin-bottom: 0;
	.right {
		text-align: right;
		padding-right: 35px;
	}
	/*.food-image {
		min-height: 65px;
	}*/
	.nutrition-wrap {
		margin-top: 10%;

		.activity-quest {
			font-size: 20px;
			color: #416696;
			margin-left: 5%;
		}

		.activity-chose {
			color: #1e4d87;
			font-size: 24px;
			padding-left: 5%;
			padding-bottom: 20px;
		}

		.text-muted {
		    -webkit-user-select: none;
		}

		.circle-btn {
			background-color: #adcddb;
		    width: 25px;
		    height: 25px;
		    border-radius: 100%;
		    border: 0;
		    display: inline-block;
		    vertical-align: middle;
		    margin: -10px 3px 0 0;

		    input[type="radio"] {
				display:none;
			}
		}
		.circle-btn.active {
		    border:6px solid #adcddb;
		    background-color: #fff;
		}

		.activity-descrip {
			color: #1e4d87;
			font-size: 20px;
			margin-left: 5%;
			line-height:1.5;
		}
		
	}
	.nutrition-tab-p {
		line-height: 100px;
	}

	.nutrition-label {
	  color: $nutrition-blue-text;
	  padding-left: 10%;
  }

	.nutrition-tab {
		background: $nutrition-lightBlue-background !important;
		height: 100px;
		margin-top:5%;
		border: none;

		.range {
			padding-top: 10px;
		}

		.row {
			padding: 0;
		}
	}

	a.button {
		font-size: 32px;
		width: 100%;
		height: auto;
	}

	a.button:link,a.button:hover, a.button:active {
		border: none;
	}

	.button {
		background: transparent;
		color: $nutrition-blue-text;
		vertical-align: middle;
		&.icon-left:before {
		    padding-right: 0;
		    padding-left: .8em;
		    font-size: 40px;
		}
	}

	input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*height: 20px;
    width: 20px;*/
    background: none repeat scroll 0 0 #fcd94d;
    border-radius: 20px;
  }

  .font-22 {
  	font-size: 22px;
   }

  .font-18 {
    font-size: 18px;
  }

  .row {
    padding: 15px 0;
    border-width: 1px 0;
  }
  .fix-height {
   	height : 120px;
   }
   .sub-category {
   	padding-top: 10px;
   	padding-left: 10px;
   	font-size: 14px;
   	color: #214b7f;
   }
  .food-list {
   		li {
   			border: none;
   			min-height: 100px;
   		}
   		.food-name {
   			font-size: 20px;
   			color: $nutrition-blue-text;
   		}

   		.food-descrip {
   			font-size: 14px;
		   	padding-top: 5px;
		   	color: $nutrition-blue-text;
		   	white-space: normal;
   		}

   		.col-75 {
   			border-bottom: 1px solid #ddd;
   		}
   		.col-50, .add-cart-div{
   			border-bottom: 1px solid #ddd;
   			line-height: 60px;
   			div {
   				height: 20px;
   			}
   			span {
   				color: $nutrition-blue-text;
   			}

   			img {
   				display: inline;
   			}

   		
   		}
   		button.add-to-cart {
	   		font-size: 14px;
	   		background-color: #1474a4;
	   		color: #fff;
	   		border: none;
	   		padding: 5px 10px;
	   		border-radius: 3px;
   		}	
	   button.add-to-cart:disabled {
	   		opacity: 0.6;
	   }

   }

}

//nutrition footer
.nutrition-footer {
	.right {
		text-align: right;
	}
	.row {
	  padding: 5px 0;
	}
	.button-bottom {
		bottom: 30px;
	}

	.radius-button {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		position: fixed;
		left: 10px;
		border: 1px solid #979797;
		z-index: 10;
		background: url(#{$img-path}/nutrition/iconfont-can.png) no-repeat center #eff6f8;
    /*background-size: auto 100%;*/

	}
	.badge.badge-assertive {
		margin-bottom: 80px;
	  margin-left: 35px;
	  background-color: #18a297;
	}
	.col {
		padding: 0;
	}
	.toBottom {
		position: fixed;
		bottom: 5px;
		left: 5px;
	}
	.my-dish {
			font-size: 12px;
	}
	.next-step{
		color: #fff;
		font-size: 14px;
		text-decoration: none;
		padding-right: 5px;
	}
	.food-detail-btn {
		width: 100%;
		height: 100%;
		background-color:#2b86b2;
		color:#fff;
		border: none;
		font-size: 18px;
	}	
}

//nutrition modal
.nutrition-modal {
	position: fixed;
	background: transparent;
	z-index: 10;
	bottom:44px;
	min-height:auto;
	top:auto;
	overflow: hidden;
  .transparent {
  	background: transparent !important;

  	.food-list-modal {
	  	max-height: 300px;
			overflow: scroll;
			-webkit-overflow-scrolling: touch;

			.category {
				background: #fff;
				padding: 15px 0;

				p {
					background: #eef5f8;
					height: 31px;
					margin: 0;
					line-height: 31px;
					font-size: 14px;
					color: $nutrition-blue-text;
					padding-left: 5px;
				}
			}
			.list {
				li {
					padding: 0;
					color: $nutrition-blue-text;
					font-size: 14px;
					img {
						display: inline;
					}
					a {
						color: $nutrition-blue-text;
					}
				}
			}
	  }
  }
	.fix-div{
		height: 55px;
	}
}

.cooker {
	display: table !important;
  width: 100% !important;
  overflow: auto;
  height: 100% !important;
  background: #fff;

  .cook-loading {
	  display: table-cell;
	  vertical-align: middle;
	  text-align: center;
	  color: $nutrition-blue-text;

	  img {
	  	display: inline;
	  }
	}
}
.cook-content, .dailyDish {
	.tab-div {
		height: 26px;
		line-height: 26px;
		background: #eef5f8;
		color: #214b7f;
		padding: 0 10px;

		label {
			font-size: 12px;
			padding-left: 8px;
			border-left: 2px solid $nutrition-blue-text;
		}
		span {
			padding-left: 10px;
			font-size: 10px;
		}
	}

	.result-detail {
		color: #355c8b;
		.highcharts-container {
				right: 8px;
			}
		.title-descrip {
			font-size: 10px;
			padding: 0 8px;
		}
		.row {
			padding: 7px 2px 7px 8px;
			div {
				font-size: 11px;

				span {
					display: inline-block;
					width: 11px;
					height: 11px;
					border-radius: 2px;
				}
				.one {
					background: #b3bf4a;
				}
				.two {
					background: #78c2ba;
				}
				.three {
					background: #7ea4ce;
				}
			}
		}
		.result-descrip {
			font-size: 9px;
			padding: 0 8px;
		}
		.medicine-advice {
			padding: 15px 0;
		}
	}	
}

//overwrite ionic
.modal-backdrop-bg{
	position : fixed;
	bottom: 44px;
	top: auto;
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
	background-color: #000;
	opacity: 0;
}
.active .modal-backdrop-bg {
    opacity: .5;
}

//popUp
.nutrition-list-pop{
	img {
	  display: inline;
	  padding: 0 5px;
	}
	.row {
		padding: 5px 5px;
	}

}
//ioonicLoading
.nutrition-loading-icon {
	font-size:36px;
}

