<ion-view>

  <ion-nav-buttons side="left">
      <a class="button button-icon icon ion-ios-gear-outline" ng-click="NewPasswordCtrl.goBack()">{{'SECURITY_FORGOTPASSWORD_BACK' | translate}}</a>
  </ion-nav-buttons> 
  <ion-content class="padding">

      <div class="height50">
  			<div class="bar bar-header bar-positive">
  				<h1 class="title">{{'SECURITY_FORGOTPASSWORD_FINDPASSWORD' | translate}}</h1>
			  </div>
  		</div>
      <div class="height200 list">
        <label class="item item-input">
          <input type="password" placeholder="{{'SECURITY_FORGOTPASSWORD_INPUTNEWPASSWORD' | translate}}" ng-model="NewPasswordCtrl.newPassword"></input> 
        </label>
        <label class="item item-input">
          <input type="password" placeholder="{{'SECURITY_FORGOTPASSWORD_REINPUTNEWPASSWORD' | translate}}" ng-model="NewPasswordCtrl.confirmPassword"></input>
        </label>
      </div>
  		<div class="height50">
			<button class="button button-full button-positive" ng-click="NewPasswordCtrl.goNext()">
         {{'SECURITY_FORGOTPASSWORD_CONFIRM' | translate}}
			</button>	
  		</div>

  </ion-content>
</ion-view>
