<ion-view view-title="{{vm.membersPlainText}}">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content class="chat-content" lazy-scroll scroll-glue>
    <div ng-if="vm.hasHistoryMsg">
      <p class='message-type'>历史消息</p>
      <div ng-repeat="msg in vm.historyMsgList">
        <div class="message-base" ng-class="{'message-receiver': msg.isReceiver}">
          {{msg.text}}
        </div>
      </div>
      <p class='message-type'>当前消息</p>
    </div>
    <div ng-repeat="msg in vm.msgList">
      <div class="message-base" ng-class="{'message-receiver': msg.isReceiver}">
        {{msg.text}}
      </div>
    </div>
    <div class="chat-bottom-decor">&nbsp;</div>
  </ion-content>
  <ion-footer-bar class="chat-footer">
    <div class="footer-1">
      <textarea class="message-input" placeholder="请输入消息" ng-disabled="vm.apiNotReady" ng-model='vm.txtMsg' required ng-trim='true' ng-keyup='$event.keyCode == 13 && vm.sendTextMsg()'></textarea>
    </div>
    <div class="footer-2">
      <button class="button button-send pull-right" ng-disabled="vm.apiNotReady" ng-click='vm.sendTextMsg()'>Send</button>
    </div>
  </ion-footer-bar>
</ion-view>
