<ion-view view-title="{{'MY_PROFILE' | translate}}">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="btn-settings ion-gear-b" ui-sref="settings"></a>
  </ion-nav-buttons>
  <ion-content class="my-profile">
    <ion-list>
      <ion-item>
        <img src="{{vm.user.profileImage}}" ng-click="showImages(0);" width="30" height="30" />
        &nbsp;
        账号名: {{vm.user.userName}}
      </ion-item>
      <ion-item>
        用户名: {{vm.user.realname}}
      </ion-item>
      <ion-item>
        职位: {{vm.user.userTitle}}
      </ion-item>
      <ion-item ng-click="vm.logout()">
        {{'main_LOGOUT' | translate}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>