// Path
//------------------
/*inject:variables*/
$path: '../..';
/*endinject*/
$ionicons-font-path: "#{$path}/assets/fonts";
$img-path: "#{$path}/assets/images";
$font-path: "#{$path}/assets/fonts";


// Ionic
//------------------
@import "../../bower_components/ionic/scss/ionic";


// Vendors
//------------------
@import
  "vendors/variables",
  "vendors/base",
  "vendors/reset",
  "vendors/fonts",
  "vendors/inputs",
  "vendors/buttons";


// Plugins
//------------------
@import
  "plugins/error-msg",
  "plugins/fd-icons",
  "plugins/fd-popup",
  "plugins/fd-toast",
  "plugins/fd-picker",
  "plugins/fd-score-panel",
  "plugins/fd-calendar",
  "plugins/fd-search";


// Security module
//------------------
@import "../../security/styles/_login";


// main module
//------------------
@import "../../home/styles/_main";


// Plan module
//------------------
@import
  "../../plan/styles/_measurements",
  "../../plan/styles/_symptom-report",
  "../../plan/styles/_symptom-statement",
  "../../plan/styles/_intake",
  "../../plan/styles/_plan";

// Profile module
//------------------
@import
  "../../profile/styles/_qr",
  "../../profile/styles/_avatar",
  "../../profile/styles/_gender",
  "../../profile/styles/_profile";

// Settings module
//------------------
@import
  "../../settings/styles/_datatransfer",
  "../../settings/styles/_update",
  "../../settings/styles/_notify",
  "../../settings/styles/_feedback",
  "../../settings/styles/_settings";
