.follow-up {
  .view-ctrl {
    margin: 0 16px;
    line-height: 48px;
    border-bottom: 1px solid #e6eff3;

    span {
      float: left;
    }

    p {
      float: right;
      margin-bottom: 0;
    }

    i {
      margin-right: 8px;
    }
  }
}

.followup-modal {
  margin: 16px;
  line-height: 20px;

  p {
    margin-bottom: 20px;
  }
}

.timeline-item {
  height: 72px;
  align-items: center;
  position: relative;

  &:nth-child(2n) .left p {
    background: url(#{$img-path}/careplanBuilding01.png) no-repeat;
  }

  &:nth-child(2n+1) .left p {
    background: url(#{$img-path}/careplanBuilding02.png) no-repeat;
  }

  &:first-child .left p:before,
  &:last-child .left p:after {
    height: 0;
  }

  .left p {
    width: 36px;
    height: 36px;
    margin-bottom: 0;

    &.discharge {
      background: url(#{$img-path}/careplanDischarge.png) no-repeat;
    }

    &:before,
    &:after {
      content: '';
      height: 36px;
      border-left: 1px solid #daf1f7;
      position: absolute;
      left: 27px;
      z-index: -1;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  .right {
    text-align: right;

    p {
      margin-bottom: 0;
      line-height: 14px;
    }
  }
}
