.btn-settings{
  font-size: 30px;
  color: white;
  line-height: 30px;
  margin-right: 10px;
}
.my-profile {
  .avatar-card {
    display:flex;
    align-items:center;
    height:142px;
    width:100%;
    background-color:white;
    justify-content:space-around;
    
    .avatar-img{
      border-radius: 50%;
      height: 100px;
      width: 100px;
      margin-left: 15px;
      background: url(#{$img-path}/avatar-small.png) no-repeat center center;
    }

    .user-name{
      color: $niceBlue;
    }

    i{
      flex-grow:1;
      text-align:center;
    }
  }
  .avatar-card:hover{
    cursor: pointer;
  }
  ion-list{
    ion-item{
      display: flex;
      align-items:center;
      align:left;  
      background-color: transparent;
      border-top: 0;
      
      .birthday{
        border:none;
      }
      div:first-child{
        text-align:left;
      };
      div{
        flex-grow:1;
        text-align:right;
        text-overflow:ellipsis;
        overflow:hidden;
        color:$niceBlue;
      }
      .col-50 {
        padding-right: 10px;
      }

      i{
        text-align:center;
        color: rgb(176,187,205);
      }
    }
  }
  ion-list:hover{
    cursor:pointer;
  }
}
.profile-discharge {
  .item {
    p {
      white-space: normal;
      line-height: 25px;
    }
    .discharge-content {
      padding: 10px 0;
      .discharge-title {
        padding: 5px 0;
      }

    }
  }
}
.profile-diaginfo {
  p {
    padding: 10px 0;
  }
}