.plan {
  ion-list{
    .list .item.item-accordion {
      transition: 0.09s all linear;
    }
    .list .item.item-accordion.ng-hide {
      line-height: 0px;
    }
    .list .item.item-accordion.ng-hide-add,
    .list .item.item-accordion.ng-hide-remove {
      display: block !important;
    }

    ion-item{
      display: flex;
      align-items:center;
      
      div:first-child{
        text-align:left;
      };
      div{
        flex-grow:1;
        text-align:right;
        text-overflow:ellipsis;
        overflow:hidden;
      }

      i{
        text-align:left;
        white-space: normal;
        word-wrap: break-word;
      }
    }
  }
  .search {
    width: 100%;
    border-radius: 0;
  }
  ion-list:hover{
    cursor:pointer;
  }
}