<ion-view title="{{'HOME_MYDATA' | translate}}">
  <ion-nav-buttons side="right">
    <a class="profile" ui-sref="profile"></a>
  </ion-nav-buttons>

  <floating-action-button click="vm.newSymptomStatement()" has-footer="true" button-color="#f07c00" icon="ion-plus" icon-color="#fff"></floating-action-button>

  <ion-content class="symptom-statement has-footer">
  <ion-list class="list symptom-statement-list">
    <ion-item ng-repeat="symptomStatement in vm.symptomStatementsList" class="item-text-wrap">
      <div>
        <div id="symptom-statement-list-item-title-{{symptomStatement.symptomCode}}" class="list-item-title clearfix">
          <div><span ng-repeat="sy in symptomStatement.symptoms">{{sy.label}}{{$last ? '' : '，'}}</span></div>
          <i class="remove icon ion-trash-a" ng-click="vm.showPopup({{symptomStatement.oid}})"></i>
          <!--  <button class="symptom-statement-delete" ng-click="vm.showPopup({{symptomStatement.oid}})">{{'SYMPTOM_STATEMENT_DELETE' | translate}}</button> -->
        </div>
        <div id="symptom-statement-list-item-date-{{symptomStatement.symptomCode}}" class=list-item-date>{{symptomStatement.occuredDate | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
        <div id="symptom-statement-list-item-state-{{symptomStatement.symptomCode}}" class="list-item-statement">{{symptomStatement.statement}}</div>
        <div class="clearfix">
            <div class="picture" ng-repeat="pictureUrl in symptomStatement.imglist">
                 <img src="{{pictureUrl}}" ng-click="showImages('{{pictureUrl}}', '640', '480','q60')" class="image-list-thumb"/>
            </div>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll ng-if="!vm.isCompletedLoaded()" immediate-check="true" on-infinite="vm.loadMoreSymptomStatements()" distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>