<ion-view view-title="{{vm.medicationOrder.medication.genericName}}">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content class="medication-order">
    <div class="medication-image">
      <!-- <img src="assets/images/medication/aspirin.png" height="100%"> -->
      <img src="assets/images/medication/medication-image-default.jpg" width="100%" height="100%">
    </div>
    <div class="medication-name">
      <div class="row">
        <div class="col col-80 font-dark-slate-blue">
          <div class="font-normal label">{{vm.medicationOrder.medication.genericName}}</div>
          <div class="font-small label">{{vm.medicationOrder.medication.commercialName}}</div>
        </div>
        <div class="col col-20 font-small font-nice-blue toggle-edit">
          <div ng-show="vm.from == 'edit'" ng-click="vm.toggleEdit()">
            <div ng-show="!vm.toggleEditFlag">{{'CAREPLAN_EDIT' | translate}}</div>
            <div ng-show="vm.toggleEditFlag">{{'CAREPLAN_SAVE' | translate}}</div>
          </div>
          <div ng-show="vm.from == 'add'" ng-click="vm.addOrder()">
            <div ng-show="!vm.toggleEditFlag">{{'CAREPLAN_EDIT' | translate}}</div>
            <div ng-show="vm.toggleEditFlag">{{'CAREPLAN_SAVE' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <ion-list class="fields">
      <ion-item>
        <div class="row font-dark-slate-blue">
          <div class="col col-50">{{'CAREPLAN_MEDICATION_SPECIFICATION' | translate}}</div>
          <div class="col col-50 value">{{vm.medicationOrder.medication.specification}}</div>
        </div>
      </ion-item>

      <ion-item>
        <div class="row font-dark-slate-blue">
          <div class="col col-50">{{'CAREPLAN_MEDICATION_FREQUENCY' | translate}}</div>
          <div class="col col-50 value" ng-click="vm.toggleEditFlag && vm.openModal('frequency')">
            <span>{{vm.medicationOrder.timing.label}}</span>
            <span class="right-arrow icon ion-chevron-right" ng-show="vm.toggleEditFlag"></span>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="row font-dark-slate-blue">
          <div class="col col-50">{{'CAREPLAN_MEDICATION_DOSE' | translate}}</div>
          <div class="col col-50 value item-text-wrap" ng-click="vm.toggleEditFlag && vm.openModal('dose')">
            <span>{{vm.medicationOrder.dose}}</span><span> {{vm.medicationOrder.medication.unit.label}}</span>
            <span class="right-arrow icon ion-chevron-right" ng-show="vm.toggleEditFlag"></span>
          </div>
        </div>
      </ion-item>
      
      <ion-item>
        <div class="row font-dark-slate-blue">
          <div class="col col-50">{{'CAREPLAN_TAKE_MEDICINE_METHOD' | translate}}</div>
          <div class="col col-50 value">
            <span ng-show="!vm.toggleEditFlag">{{vm.medicationOrder.method.label}}</span>
            <fd-select ng-show="vm.toggleEditFlag" ng-model="vm.medicationOrder.method.code" sheet-source="medication_method" sheet-label={{vm.medicationOrder.method.label}}></fd-select>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row font-dark-slate-blue">
          <div class="col col-50">{{'CAREPLAN_MEDICATION_START_OF_PERIOD' | translate}}</div>
          <div class="col col-50 value" ng-click="vm.toggleEditFlag && vm.openModal('startOfPeriod')">
            <span>{{vm.medicationOrder.startOfPeriod | date: 'yyyy-MM-dd'}}</span>
            <span class="right-arrow icon ion-chevron-right" ng-show="vm.toggleEditFlag"></span>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row font-dark-slate-blue">
          <div class="col col-50">{{'CAREPLAN_MEDICINE_SOURCE' | translate}}</div>
          <div class="col col-50 value">
            <span ng-show="!vm.toggleEditFlag">{{vm.medicationOrder.source.label}}</span>
             <fd-select ng-show="vm.toggleEditFlag" ng-model="vm.medicationOrder.source.code" sheet-source="medication_source" sheet-label={{vm.medicationOrder.source.label}}></fd-select>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row font-dark-slate-blue">
          <div class="col col-50">{{'CAREPLAN_MEDICINE_REVISE_REASON' | translate}}</div>
          <div class="col col-50 value">
            <span ng-show="!vm.toggleEditFlag">{{vm.medicationOrder.reviseReason.label}}</span>
            <fd-select ng-show="vm.toggleEditFlag" ng-model="vm.medicationOrder.reviseReason.code" sheet-source="medication_revise_reason" sheet-label={{vm.medicationOrder.reviseReason.label}}></fd-select>
          </div>
        </div>
      </ion-item>

      <ion-item>
        <div class="font-dark-slate-blue">
          <div class="row">
            <div class="col col-50">{{'CAREPLAN_ATTENTION_REMARK' | translate}}</div>
          </div>
          <div class="item-text-wrap">{{vm.medicationOrder.remark}}</div>  
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>