<ion-modal-view>
  <ion-header-bar class="header-fd">
    <button class="button button-icon icon ion-ios-close-empty font-white" ng-click="vm.saveFrequency()"></button>
    <div class="title">{{'CAREPLAN_MEDICATION_EDIT' | translate}}</div>
  </ion-header-bar>

  <ion-content class="medication-edit-modal">
    <form name="editForm" ng-submit="vm.saveFrequency()">
      <div class="fd-input">
        <div class="label font-dark-slate-blue">{{'CAREPLAN_MEDICATION_FREQUENCY_INPUT' | translate}}</div>
        <fd-select ng-show="vm.toggleEditFlag" ng-model="vm.medicationOrder.timing.code" sheet-source="timing" sheet-label={{vm.medicationOrder.timing.label}}></fd-select>
      </div>

      <div class="med-items row" ng-repeat="item in vm.timeslotTime">
        <div class="col-50 med-name">
          <label>
            <input type="checkbox" ng-model="item.isChecked" ng-click="vm.changeTimeslot(item)">
            <span>{{item.timeslot.label}}</span>
          </label>
        </div>
        <div class="col-50 med-dose">
          <span>{{item.time}}</span>
        </div>
      </div>

      <div class="fd-button">
        <button type="submit" class="font-white bg-gradient">{{'CAREPLAN_CONFIRM' | translate}}</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>