<ion-modal-view>
  <ion-header-bar class="header-fd">
    <button class="button button-icon icon ion-ios-close-empty font-white" ng-click="vm.closeModal()"></button>
    <div class="title">{{'CAREPLAN_MEDICATION_EDIT' | translate}}</div>
  </ion-header-bar>

  <ion-content class="medication-edit-modal">
    <div class="font-large font-dark-slate-blue">{{'CAREPLAN_MEDICATION_START_OF_PERIOD_INPUT' | translate}}</div>

    <fd-picker is-required="true" mode="date"
      ng-model="vm.medicationOrder.startOfPeriod"
      range-min="vm.min" filter="yyyy-MM-dd"></fd-picker>

    <div class="fd-button">
      <button class="font-white bg-gradient" ng-disabled="!vm.validator" ng-click="vm.closeModal()">{{'CAREPLAN_CONFIRM' | translate}}</button>
    </div>
  </ion-content>
</ion-modal-view>
