<ion-modal-view>
  <ion-header-bar class="header-fd">
    <button class="button button-icon icon ion-ios-close-empty font-white" ng-click="vm.closeModal()"></button>
    <div class="title">{{'CAREPLAN_MEDICATION_EDIT' | translate}}</div>
  </ion-header-bar>

  <ion-content class="medication-edit-modal">
    <div class="fd-input">
      <div class="label font-dark-slate-blue">{{'CAREPLAN_MEDICATION_DOSE_INPUT' | translate}}</div>
      <div class="input">
        <input required class="border-nice-blue" type="number" string-to-number name="dose" ng-model="vm.dose"></input>
        <span class="input-hint">{{vm.medicationOrder.medication.unit.label}}</span>
      </div>
    </div>

    <div class="fd-button">
      <button type="submit" class="font-white bg-gradient" ng-click="vm.saveDose()">{{'CAREPLAN_CONFIRM' | translate}}</button>
    </div>
  </ion-content>

</ion-modal-view>