<ion-view>
  <ion-nav-title>计划总计:{{vm.projects.length}}</ion-nav-title>
  <ion-content class="main plan">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.doRefresh()"></ion-refresher>
    <div class="clearfix">
      <fd-search search-model="vm.searchName" empty-text="工程名称..."></fd-search>
      <ion-list>
        <div ng-if="vm.captains" ng-repeat="captain in vm.captains">
          <ion-item
            ng-show="isSearchBarEmpty()"
            class="item-stable"
            ng-click="toggleGroup(captain)"
            ng-class="{active: isGroupShown(captain)}"
          >
            <i class="icon" ng-class="isGroupShown(captain) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{captain.captain}}
          </ion-item>
          <fd-project-item
            class="item-accordion"
            ng-show="(isSearchBarEmpty() && isGroupShown(captain)) || (!isSearchBarEmpty() && projectMatched(project))"
            ng-click="vm.goto('home.plan.edit',project)"
            ng-repeat="project in vm.projects[captain['captainName']].projects"
          >
          </fd-project-item>
        </div>
        <fd-project-item
          ng-if="!vm.captains"
          ng-show="projectMatched(project)"
          ng-click="vm.goto('home.plan.edit',project)"
          ng-repeat="project in vm.projects"
        >
        </fd-project-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>
