<ion-view view-title="{{'LIST_HEAD' | translate}}">
  <ion-nav-buttons side="left">
          <button ui-sref="nutrition.config.activity" class="button button-icon icon ion-ios-arrow-left icon-back" ></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ui-sref="home.carePlan.nutrition" class="button button-icon icon ion-home back-button" ></button>
  </ion-nav-buttons>
  <ion-content class="nutrition-content" lazy-scroll>
  <div ng-repeat="(key, value) in vm.foodKindValue | groupBy: 'subCategory' track by $index">
    <div ng-if="!($first && $last)" class="sub-category">{{ key }}{{vm.subCagetoryComments[key]}}</div>
    <ul class="list food-list" ng-if="value">
      <li class="item row" ng-repeat="obj in value track by obj.oid">
        <div class="col" ng-click="vm.openEducationCardModal({oid:obj.oid, name:obj.displayName, judge:obj.judge})">
          <img image-lazy-src="{{ obj.src }}"  lazy-scroll-resize="true" class="food-image">
        </div>
        <div class="col-50" ng-click="vm.openEducationCardModal({oid:obj.oid, name:obj.displayName, judge:obj.judge})">
          <div>
          <label class="food-name">{{obj.displayName}}</label>
          <span ng-if="obj.judge==1">
            <img src="assets/images/nutrition/smile.png">
            <img src="assets/images/nutrition/star.png">
          </span>
          <span ng-if="obj.judge==0">
            <img src="assets/images/nutrition/smile.png">
          </span>
          <span ng-if="obj.judge==-1">
            <img src="assets/images/nutrition/XMLID_97_.png">
          </span>
          <span ng-if="obj.judge==-2">
            <img src="assets/images/nutrition/cry.png">
          </span>
          </div>
          <div>
          <p class="food-descrip" ng-if="obj.vegetableColor">{{obj.vegetableColor | translate}}{{'VEGETABLE_COLOR' | translate }}</p>
          </div>
        </div>
        <div class="col add-cart-div">
          <button class="fd-button add-to-cart" ng-click="vm.addToCart({{obj.oid}})"
          ng-show="!vm.addButton{{obj.oid}}" ng-disabled="obj.judge==-2">{{'ADD_CART_BTN' | translate }}</button>
          <span ng-show="vm.addButton{{obj.oid}}">{{'ALREADY_IN_CART' | translate }}</span>
        </div>
      </li>
    </ul>
  </div>
  </ion-content>

  <ion-footer-bar align-title="left" class="header-fd nutrition-footer">
      <button class="radius-button button-bottom"  ng-disabled="!vm.sortSelectFoods.length" ng-click="vm.openCartModal()" ng-show="vm.plateButtonIsShown"><span class="badge badge-assertive">{{vm.selectNumber}}</span></button>
    <div class="footer-content row" >
      <div>
        <label class="my-dish" ng-class="{toBottom: vm.plateButtonIsShown}">{{ 'MY_CART' | translate }}</label>
      </div>
      <div ng-class="{'col-offset-20': vm.plateButtonIsShown}">
      <label class="my-dish" ng-if="vm.foodKind==vm.foodCategory.grain">&nbsp;&nbsp;{{'GRAIN_DESCRIPT' | translate}}</label>
      <label class="my-dish" ng-if="vm.foodKind==vm.foodCategory.protein">&nbsp;&nbsp;{{'PROTETIN_DESCRIPT' | translate}}</label>
      <label class="my-dish" ng-if="vm.foodKind==vm.foodCategory.vegetable">&nbsp;&nbsp;{{'VEGETABLE_DESCRIPT' | translate}}</label>
      <label class="my-dish" ng-if="vm.foodKind==vm.foodCategory.milk">&nbsp;&nbsp;{{'MILK_DESCRIPT' | translate}}</label>
      <label class="my-dish" ng-if="vm.foodKind==vm.foodCategory.fruit">&nbsp;&nbsp;{{'FRUIT_DESCRIPT' | translate}}</label>
      <label class="my-dish" ng-if="vm.foodKind==vm.foodCategory.grease">&nbsp;{{'GREASE_DESCRIPT' | translate}}</label>
      </div>
      <div class="col right" ng-click="vm.gotoNutritionPage('nutrition.dailyDish')">
      <a href="javascript:;" class="next-step">{{'BUTTON_NEXT' | translate}}</a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>


