
<ion-tabs class="tabs-top sub-tabs-fd nutrition-tabs">
	<ion-tab title="{{'GRAIN_TAB' | translate}}" ng-click="vm.setFoodKind('0')">
		<ion-nav-view name="nutrition-grain"></ion-nav-view>
	</ion-tab>
	<ion-tab title="{{'PROTEIN_TAB' | translate}}" ng-click="vm.setFoodKind('5')">
		<ion-nav-view name="nutrition-protein"></ion-nav-view>
	</ion-tab>
	<ion-tab title="{{'VEGETABLE_TAB' | translate}}" ng-click="vm.setFoodKind('1')">
		<ion-nav-view name="nutrition-vegetable"></ion-nav-view>
	</ion-tab>
	<ion-tab title="{{'MILK_TAB' | translate}}" ng-click="vm.setFoodKind('4')">
		<ion-nav-view name="nutrition-milk"></ion-nav-view>
	</ion-tab>
	<ion-tab title="{{'FRUIT_TAB' | translate}}" ng-click="vm.setFoodKind('2')">
		<ion-nav-view name="nutrition-fruit"></ion-nav-view>
	</ion-tab>
	<ion-tab title="{{'GREASE_TAB' | translate}}" ng-click="vm.setFoodKind('3')">
		<ion-nav-view name="nutrition-bean"></ion-nav-view>
	</ion-tab>
</ion-tabs>

