<ion-modal-view>
    <ion-header-bar class="header-fd">
        <button class="button button-icon icon ion-ios-arrow-left icon-back" ng-click="vm.closeEducationCardModal()"></button>
        <div class="title">{{ vm.foodDetailName | translate}}</div>
    </ion-header-bar>
    <ion-content class="nutrition-content">
    	<div class="scroll" ng-bind-html="vm.innerHtml"></div> 
    </ion-content>
    <ion-footer-bar class="header-fd nutrition-footer">
        <button class="button-bottom food-detail-btn" ng-disabled="vm.educationCardBtn" ng-show="vm.foodDetailBtn" ng-click="vm.addToCart(vm.foodDetailOid,'add')">{{'FOOD_DETAIL_ADD' | translate}}</button>
        <button class="fd-button button-bottom food-detail-btn" ng-show="!vm.foodDetailBtn" ng-click="vm.deleteFromCart(vm.foodDetailOid, 'remove')">{{'FOOD_DETAIL_MOVE' | translate}}</button>
    </ion-footer-bar>
</ion-modal-view>
