<ion-modal-view view-title="{{'HOME_MYDATA' | translate}}">
  <ion-header-bar class="header-fd">
    <button class="button button-icon icon ion-ios-close-empty font-white" ng-click="vm.closeSymptomStatementAddModal()"></button>
    <div class="title">{{'SYMPTOM_STATEMENT_CREATE_HEADER' | translate}}</div>
  </ion-header-bar>
  <ion-content class="symptom-statement has-footer">
    <div>
      <!--main title-->
      <div><span class="title">{{'SYMPTOM_STATEMENT_CREATE_LABEL' | translate}}</span></div>

      <!--symptom tag list-->
      <div>
        <ul class="tags clearfix">
          <li id="symptomTag-{{symptomTag.symptomCode}}" value="{{symptomTag.symptomCode}}" ng-repeat="symptomTag in vm.symptomTags" class="small-button untagged" symptom-tags>
            {{symptomTag.name}} 
          </li>
        </ul>
      </div>

       <div class="report-pic clearfix">
        <div ng-repeat="symptomStatement in vm.symptomStatementAddList">
          <img src="{{symptomStatement}}">
        </div>
        <div class="camera" ng-show="vm.pictureCountChecked" ng-click="vm.takeReport()"></div>
      </div>

      <!--statement area-->
      <div>
        <textarea id="symptomStatementTextArea" name="symptomStatementTextArea" placeholder="{{'SYMPTOM_STATEMENT_CREATE_TEXT_AREA_PLACE_HOLDER' | translate }}" maxlength="140" class="text-area" ng-model="vm.symptomStatement.statement"></textarea>
      </div>

      <!--Date and time part-->
      <div class="fd-input">
        <div class="label font-dark-slate-blue">{{'SYMPTOM_STATEMENT_OCCUR_DATE' | translate}}</div>
        <fd-picker class="date-time-picker" is-required="true" name="datePicker" mode="date" ng-model='vm.dateTimePicker.date' filter="yyyy-MM-dd" range-min="vm.dateTimePicker.minDate" range-max="vm.dateTimePicker.maxDate" />
      </div>

      <div class="fd-input">
        <div class="label font-dark-slate-blue">{{'SYMPTOM_STATEMENT_OCCUR_TIME' | translate}}</div>
        <fd-picker class="date-time-picker" name="timePicker" mode='time' ng-model='vm.dateTimePicker.time' filter="HH:mm:ss"/>
      </div>

      <!--symptom statement add button-->
      <div>
        <button id="symptomStatementAddBtn" name="symptomStatementAddBtn" class="button" ng-click="vm.showLoading()">{{'SYMPTOM_STATEMENT_CREATE_ADDBTN' | translate}}</button>
      </div>
    </div>
  </ion-content>

</ion-modal-view>